body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.background-night {
  background-image: linear-gradient(45deg, #000, #53346d);
  background-repeat: repeat;
}
.w-500 {
  width: 500px !important;
}
.card {
  border-radius: 13px !important;
}
.mh-20 {
  margin: 20px 0;
}
.cursor-pointer {
  cursor: pointer;
}
